:root {
    --clr-primary-50: #e0f2f1;
    --clr-primary-100: #b2dfdb;
    --clr-primary-200: #80cbc3;
    --clr-primary-300: #4db6ab;
    --clr-primary-400: #26a699;
    --clr-primary-500: #009687;
    --clr-primary: var(--clr-primary-500);
    --clr-primary-600: #00897a;
    --clr-primary-700: #00796a;
    --clr-primary-800: #00695b;
    --clr-primary-900: #004d3f;
    --clr-complementary-50: #fae8eb;
    --clr-complementary-100: #f4c5ca;
    --clr-complementary-200: #dc8e8e;
    --clr-complementary-300: #cb6364;
    --clr-complementary-400: #d14141;
    --clr-complementary-500: #d12c26;
    --clr-complementary-600: #c32226;
    --clr-complementary-700: #b21720;
    --clr-complementary-800: #a50f1a;
    --clr-complementary-900: #96000f;
    --clr-complementary: var(--clr-complementary-900);
    --clr-analogous-1-50: #e6f6ea;
    --clr-analogous-1-100: #c3e9cb;
    --clr-analogous-1-200: #9cdba9;
    --clr-analogous-1-300: #72ce86;
    --clr-analogous-1-400: #4ec36c;
    --clr-analogous-1-500: #22b851;
    --clr-analogous-1-600: #16a848;
    --clr-analogous-1-700: #00963c;
    --clr-analogous-1: var(--clr-analogous-1-700);
    --clr-analogous-1-800: #008531;
    --clr-analogous-1-900: #00661c;
    --clr-analogous-2-50: #e1f5fd;
    --clr-analogous-2-100: #b4e6f9;
    --clr-analogous-2-200: #83d5f6;
    --clr-analogous-2-300: #54c5f2;
    --clr-analogous-2-400: #32b8f0;
    --clr-analogous-2-500: #15acee;
    --clr-analogous-2-600: #0f9edf;
    --clr-analogous-2-700: #078bcc;
    --clr-analogous-2-800: #067ab8;
    --clr-analogous-2-900: #005a96;
    --clr-analogous-2: var(--clr-analogous-2-900);
    --clr-triadic-1-50: #ebe5f6;
    --clr-triadic-1-100: #cdc0e9;
    --clr-triadic-1-200: #ac96db;
    --clr-triadic-1-300: #8a6ccd;
    --clr-triadic-1-400: #704dc3;
    --clr-triadic-1-500: #552eb8;
    --clr-triadic-1-600: #4b29b2;
    --clr-triadic-1-700: #3c22aa;
    --clr-triadic-1-800: #2c1ca2;
    --clr-triadic-1-900: #000f96;
    --clr-triadic-1: var(--clr-triadic-1-900);
    --clr-triadic-2-50: #f5e4f3;
    --clr-triadic-2-100: #e5bce2;
    --clr-triadic-2-200: #d58fd0;
    --clr-triadic-2-300: #c361bd;
    --clr-triadic-2-400: #b53bb0;
    --clr-triadic-2-500: #a70aa2;
    --clr-triadic-2-600: #99079d;
    --clr-triadic-2-700: #870096;
    --clr-triadic-2: var(--clr-triadic-2-700);
    --clr-triadic-2-800: #77008f;
    --clr-triadic-2-900: #590082;

}